*.swp
*.swo
.DS_Store
.vscode
/apk
/awstats

*.sw*
*~
/build/
/bin/
/node_modules/
/doc/

.project

src/**/*.css
customers/**/*.css
Gruntfile.min.js

debug.log

.ssh
.idea

vendor/**
!src/**/vendor/*.css