<div class="main-container">
    <div class="main wrapper clearfix">
        <article>
            <header>
                <h1 class="article-header" translate="home_install"></h1>
                <br/>
            </header>
        </article>
        <article>
            <section>
                <p class="center">
                    <a href="{{appdlctrl.getAndroidUrl()}}" class="no-underline">
                        <img src="assets/img/google.png">
                    </a>
                    <br />
                    <a href="{{appdlctrl.getAndroidUrl()}}" class="center" translate="install_app.android"></a>
                </p>
                <br />
                <p class="center">
                    <a href="{{appdlctrl.getIosUrl()}}" class="no-underline">
                        <img src="assets/img/apple.png">
                    </a>
                    <br />
                    <a href="{{appdlctrl.getIosUrl()}}" class="center" translate="install_app.iOS"></a>
                </p>
            </section>
        </article>
    </div>
    <!-- #main -->
</div>
<!-- #main-container -->
