        <div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                    <header>
                        <h1 class="article-header" translate="reports.menu_reports"></h1>
                    </header>

                    <section>
                        <ul>
                            <li><a class="statistics" data-ui-sref="home.stats" translate="menu_statistics"></a></li>
                            <li><a class="opendata" data-ui-sref="home.opendata" translate="reports.menu_report_export"></a></li>
                        </ul>
                    </section>
                </article>
            </div><!-- #main -->
        </div><!-- #main-container -->

